:root{
    --quad: 0.25rem;
    --half: 0.5rem;
    --xs: 1rem;
    --s: 1.25rem;
    --m: 1.6rem;
    --l: 2rem;
    --xl: 2.5rem;
    --lh-normal: 140%;
    --lh-tight: 110%;
    --lh-loose: 160%;
    --ff-sans: arial, helvetica, sans-serif;
    --dark: hsl(0deg 0% 0% / 70%);
    --darker: hsl(0deg 0% 0% / 85%);
    --darkest: hsl(0deg 0% 0% / 100%);
    --light: hsl(0deg 0% 0% / 10%);
    --lighter: hsl(0deg 0% 0% / 5%);
    --lightest: hsl(0deg 0% 0% / 0%);
    --decoration-color: rgb(249 192 192);
    --max-content-width: 50rem;
    --max-container-width: 70rem;
    --figure-width: 66%;
    --border-radius: 0.2rem;
    --border-width-s: 1px;
    --border-width-m: 3px;
    --border-color: var(--decoration-color);
    --color-scheme: dark light;
    --tr-fast: 0.3s;
    --tr-medium: 0.5s;

    
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    hyphens: auto;
    line-height: var(--lh-normal);
}

body{
    padding: var(--xl);
}

body > * {
    max-width: var(--max-container-width);
    margin: auto;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

main > *:not(.hero-with-image) {
    width: 100%;
    max-width: var(--max-content-width);
}


/* Text
############################################################################ */

h1, h2, h3{
    padding-bottom: var(--s);
    font-weight: normal;
    hyphens: none;
    line-height: 100%;
}

h1{
    padding-top: var(--l);
    font-size: var(--xl);
}

h2{
    padding-top: var(--l);
    font-size: var(--m);
}

h3{
    padding-top: var(--l);
    font-weight: bold;
}

p{
    margin-bottom: var(--s);
}


/* Lists
############################################################################ */

ol li{
    margin-bottom: var(--s);
}


/* Images
############################################################################ */

figure{
    width: var(--figure-width);
    padding-top: var(--xl);
    padding-bottom: var(--xl);
}

figure img{
    width: 100%;
}

figcaption{
    padding-top: var(--xs);
}


/* Tables
############################################################################ */

table{
    width: 100%;
    border-spacing: 0;
}

table td, table th{
    padding: 0.2rem var(--xs);
    border-top: solid var(--border-width-s) var(--border-color);
    text-align: left;
}

table + figcaption{
    padding-left: 0;
    border-top: solid var(--border-width-m) var(--border-color);
}

table th{
    font-weight: normal
}

table thead th{
    font-weight: bold;
}


/* Definition List
############################################################################ */

dl dt{
    padding-right: 0.3ch;
    float: left;
    font-weight: bold;
}

dl dt::after{
    content: ": ";
}